@page "/leaveRequestSent"

<h3>Your request has been sent!</h3>
<br>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/">
        <button class="btn btn-primary">Home</button>
    </NavLink>
</div>
@code {

}
