@page "/leaveRequestSent"
<style>
    body, h1, div, span, p, a, button {
        font-family: 'Madimi One', cursive;
        font-weight: bold;
    }
</style>
<h3>Your request has been sent!</h3>
<br>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/">
        <button class="btn btn-primary">Home</button>
    </NavLink>
</div>
@code {

}
