<!DOCTYPE html>
<html lang="en">
<style>
    body, h1, div, span, p, a, button {
        font-family: 'Madimi One', cursive;
        font-weight: bold;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="VacationManager.styles.css" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
